<footer class="footer" style="font-family: FZBY, sans-serif">
  <span>{{ site.footerText }}</span>
<!--  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS订阅</a>-->
  {%- comment %} 请保留主题来源，么么哒~ {% endcomment %}
  <span>Theme By</span>
  <a href="https://github.com/TMaize/tmaize-blog">TMaize</a>
  <a href="https://blog.gelehrte.com/entry/ニーア文字フォント作成の一旦完了">English Font:NieR</a>
  <a href="https://www.foundertype.com/index.php/FontInfo/index/id/5500">中文字体:佛君城建体</a>
</footer>
<div id="to-top">
  <span></span>
  <span></span>
</div>
